body {
  font-size: small;
}

h1 {
  font-size: 190%;
}

h2 {
  font-size: 170%;
}

h3 {
  font-size: 150%;
}

.header-text {
  font-family: Corbel,"Lucida Sans Unicode","Segoe UI","Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
  letter-spacing: 0px;
  word-spacing: -2px;
  margin-bottom: 2px;
}

code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.body-text-mono {
  font-family: Consolas,Monaco,"Lucida Console","Courier New",Courier,monospace;
}

.body-text-serif {
  font-family: Georgia,Utopia,Palatino,"Palatino Linotype",serif;
  font-size: 1.1em;
  margin-top: 2px;
  text-indent: 2em;
}
.body-text-sans {
  font-family: Verdana,Geneva,Arial,sans-serif;
  font-size: 1.1em;
  margin-top: 2px;
  text-indent: 2em;
}
th,td {
  text-align: left;
  /*border: 1px solid black;*/
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 4px;
}

th {
  border: 1px solid black;
  background-color: #F1F1F1;
}

tr.alt {
  background-color: #F1F1F1;
}

th#ip {
  width: 125px;
}

button {
  font-family: inherit;
  /*background-color: #CCC;*/
}

table#tblWOLHost {
  /*border: 1px solid black;*/
  border-collapse: collapse;

}
